In [1]:
my_tuple = ()
my_tuple

()

In [2]:
type(my_tuple)

tuple

In [3]:
print(type(my_tuple))

<class 'tuple'>

In [4]:
int_tuple = (1, 2, 3)
print(int_tuple)

(1, 2, 3)

In [5]:
str_tuple = ("Hello", "Python")
print(str_tuple)

('Hello', 'Python')

In [6]:
print(int_tuple, str_tuple)

(1, 2, 3) ('Hello', 'Python')

In [7]:
combined_tuple = int_tuple + str_tuple
print(combined_tuple)

(1, 2, 3, 'Hello', 'Python')

In [8]:
print(str_tuple * 3)

('Hello', 'Python', 'Hello', 'Python', 'Hello', 'Python')

In [9]:
mixed_tuple = (1, "Hello", 3.4)
print(mixed_tuple)

(1, 'Hello', 3.4)

In [10]:
my_tuple = 1, "Hello", 3.4
print(my_tuple)

(1, 'Hello', 3.4)

In [11]:
a, b, c = my_tuple

In [12]:
print(a)
print(b)
print(c)

1
Hello
3.4

In [13]:
nested_tuple = (1, 2, 3, (4, 5, 6))
print(nested_tuple)

(1, 2, 3, (4, 5, 6))

In [14]:
mixed_tuple = ('mouse', [8, 4, 6], (1, 2, 3))
print(mixed_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [16]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
my_tuple

('p', 'e', 'r', 'm', 'i', 't')

In [17]:
print(my_tuple[0])

p

In [18]:
print(my_tuple[5])

t

In [19]:
print(my_tuple[6])

IndexError: tuple index out of range

In [20]:
print(mixed_tuple[1])

[8, 4, 6]

In [21]:
print(mixed_tuple[1][0])

8

In [22]:
nested_tuple = mixed_tuple[2]
print(nested_tuple)

(1, 2, 3)

In [23]:
print(mixed_tuple[2][2])

3

In [24]:
my_tuple = ('E', 'l', 'e', 'p', 'h', 'a', 'n', 't')
print(my_tuple[1:])

('l', 'e', 'p', 'h', 'a', 'n', 't')

In [25]:
print(my_tuple[2:4])

('e', 'p')

In [27]:
print(my_tuple[::2])

('E', 'e', 'h', 'n')

In [28]:
print(my_tuple[-1])

t

In [29]:
my_tuple = ('H', 'e', 'l', 'l', 'o')
my_tuple

('H', 'e', 'l', 'l', 'o')

In [30]:
print(my_tuple.index('H'))

0

In [31]:
print('e' in my_tuple)

True

In [32]:
print('t' in my_tuple)

False

In [33]:
print('e' not in my_tuple)

False

In [34]:
int_tuple = (1, 4, 9, 9)
sum(int_tuple)

23

In [35]:
list(int_tuple)

[1, 4, 9, 9]

In [36]:
set(int_tuple)

{1, 4, 9}